# Only tagged required are mandatory, other is only for fix their versiones
astroid==2.4.1
certifi==2022.12.7
click==7.1.2
colorama==0.4.3
Flask==1.1.2  # required
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.5.2
six==1.15.0
toml==0.10.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.11.2
requests==2.23.0  # required
psycopg2==2.8.5 # required
gunicorn==20.0.4 # required